html {
    min-width: 160px;
}

* {
    margin: 0px;
    padding: 0px;
    outline: medium none;
}

html, body, div, span, p, a, img, ul, li, footer {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-variant: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ul {
    list-style: outside none none;
}

body {
    background-color: rgb(246, 244, 241);
    font-family: "Roboto", sans-serif;
}

.main-container {
}

.limit {
    display: block;
    width: 100%;
    max-width: 980px;
    margin: 0px auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.head {
    background: rgb(151, 190, 231) none repeat scroll 0% 0%;
}

.logo {
    display: inline-block;
    padding: 25px 10px;
    vertical-align: middle;
}

.logo img:first-child {
    max-width: 200px;
    width: 100%;
    vertical-align: middle;
}

.logo img:last-child {
    max-width: 35px;
    width: 100%;
    vertical-align: middle;
}

.menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
}

.menu li {
    display: inline-block;
    border-left: 1px solid black;
    padding: 30px 15px;
}

.menu li:hover {
    background: rgb(163, 205, 248) none repeat scroll 0% 0%;
}

.menu li a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.search {
    background-color: white;
    min-height: 40px;
    padding: 10px;
}

.search input {
    width: 100%;
    background-color: rgb(245, 245, 245);
    float: left;
    padding: 10px 0px;
    text-indent: 10px;
    border: 1px solid rgb(226, 226, 226);
    box-sizing: border-box;
}

.search .icon-search {
    float: right;
    margin-top: -38px;
    color: rgb(255, 255, 255);
    background: rgb(63, 118, 211) none repeat scroll 0% 0%;
    padding: 9px 8px;
    height: 20px;
    width: 27px;
}

.main-container {
    background-color: white;
}

.content {
    display: inline-block;
    padding: 10px;
    width: 70%;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    color: rgb(60, 120, 216);
    text-align: center;
	margin-bottom: 20px;
    
}

.content p {
    padding: 10px;
    line-height: 25px;
    /* text-align: justify; */
}

.content img {
    margin: 0px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.content .center {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.content .list span {
    display: block;
}

.content .inlbl_img {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    float: left;
  	margin-right: 10px;
}

.content .centr_back {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    background-color: rgb(92, 92, 92);
    padding: 0px 10px;
    font-weight: bold;
}

.content .img_text .fl {
    float: left;
    width: 29%;
   padding: 18px 10px 0 0;
}

.content .prod {
    width: 100%;
    max-width: 100%;
}

.social {
    padding-left: 10px;
}

.btn {
    color: white;
    text-decoration-color: white;
    text-align: center;
    display: block;
    width: 70%;
    background-color: rgb(43, 139, 123);
    margin: 15px auto;
    padding: 10px;
    font-size: 20px;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 1s ease 0s;
}

.comment p {
    padding: 5px;
}

.comment .name {
    color: rgb(0, 153, 255);
}

.comment .name span {
    color: black;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    box-sizing: border-box;
}

.sidebar .widget h3 {
    background: rgb(0, 153, 255) none repeat scroll 0% 0%;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    line-height: 18px;
}

.sidebar .widget > ul {
    background: rgb(205, 224, 243) none repeat scroll 0% 0%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.sidebar .widget li {
    margin: 0px;
    list-style: outside none none;
    border-bottom: 1px solid rgb(237, 237, 237);
    padding: 15px;
}

.wp-post-image {
    float: left;
    margin: 5px 10px 0px 0px;
}

.sidebar .post-excerpt {
    color: rgb(86, 86, 86);
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
}

.post-data {
    overflow: hidden;
}

.post-title a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 20px;
}

.post-img img {
    width: 65px;
}

.icon-facebook {
    display: inline-block;
    color: white;
    background-color: rgb(59, 89, 152);
    padding: 10px 9px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 10px;
}

.icon-gplus {
    display: inline-block;
    color: white;
    background-color: rgb(221, 75, 57);
    padding: 10px 9px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon-twitter {
    display: inline-block;
    color: white;
    background-color: rgb(0, 172, 237);
    padding: 10px 9px;
    border-radius: 50%;
}

footer {
    background-color: rgb(238, 238, 238);
}

footer .fl_l {
    float: left;
    color: rgb(155, 155, 155);
    padding: 0px 0px 0px 25px;
    margin-top: 30px;
    font-size: 14px;
}

footer .fl_l a {
    color: rgb(155, 155, 155);
    text-decoration: none;
}

footer .fl_l span {
    color: rgb(63, 118, 211);
}

footer .fl_r {
    float: right;
    color: rgb(155, 155, 155);
    padding: 0px 0px 0px 25px;
    margin-top: 30px;
    font-size: 14px;
}

footer .fl_r a {
    color: rgb(155, 155, 155);
    text-decoration: none;
}

footer .fl_r span {
    padding-right: 20px;
}

.text_footer {
    padding-top: 50px;
    text-align: center;
    color: rgb(155, 155, 155);
    font-size: 14px;
}

.text_footer a {
    color: rgb(155, 155, 155);
    text-decoration: none;
}

.soc_footer {
    padding-top: 10px;
    text-align: center;
}

.icon-rss {
    color: rgb(255, 102, 0);
    font-size: 37px;
    vertical-align: middle;
}

.icon-menu {
    display: none;
}

@media screen and (max-width: 994px) {
    .menu {
        display: none;
    }

    .icon-menu {
        display: block;
        float: right;
        padding-right: 30px;
        padding-top: 30px;
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .content {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    footer .fl_l {
        display: block;
        text-align: center;
        float: none;
        padding-top: 35px;
    }

    footer .fl_r {
        float: none;
        display: block;
        text-align: center;
        padding-top: 10px;
        margin-top: 0px;
    }

    .text_footer {
        padding-top: 20px;
    }

    .btn {
        width: 90%;
    }

    .content .img_text .fl {
        width: 40%;
    }

    .content .inlbl_img {
        display: block;
        width: 100%;
        float: none;
    }

    .icon-menu {
        padding-right: 10px;
    }

    .logo {
        padding: 25px 6px;
    }
}

@font-face {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fontello.woff') format("woff"), url('../fonts/fontello.ttf') format("truetype"), url('../fonts/fontello.svg') format("svg");
}

[class^="icon-"]::before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
}

.icon-search::before {
    content: "";
}

.icon-twitter::before {
    content: "";
}

.icon-facebook::before {
    content: "";
}

.icon-rss::before {
    content: "";
}

.icon-menu::before {
    content: "";
}

.icon-gplus::before {
    content: "";
}

@media screen and (max-width: 305px) {
    .icon-menu, .search {
        display: none;
    }

    .logo img:first-child {
        max-width: 200px;
        width: 72%;
    }

    h1 {
        font-size: 20px;
    }

    .icon-facebook, .icon-gplus {
        margin-right: 0;
    }

    .content p {
        line-height: 20px;
        font-size: 15px;
    }
}

/*----comeback---*/
.comeback_layout {
    display: none;
    position: fixed;
    color: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000000;
    background: rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
}

.comeback_layout {
    overflow: -moz-scrollbars-none;
}

.comeback_wrapper {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.comeback_container {
    background: #ffffff;
    padding: 25px;
    margin-top: 2%;
    text-align: center;
}

.comeback_container h1 {
    font-size: 23px;
}

.comeback_container .form-group {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.comeback_container .btn {
    display: block;
    width: 240px;
    color: #ffffff;
    background: #f82a5e;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 auto;
    text-decoration: none;
}

.comeback_img {
    /* width: 30%; */
    max-width: 300px;
    margin: 10px auto;
}

.form-horizontal span {
    display: block;
    margin: .20px 0;
}

.comeback_close {
    float: right;
    cursor: pointer;
}

#comeback p {
    font-size: 16px;
    margin-top: -10px;
    line-height: 1.4;
}

@media (max-width: 700px) {
    .comeback_container h1 {
        line-height: 18px;
        font-size: 16px;
    }

    .comeback_img {
        margin: 5px auto;
    }

    .comeback_container p {
        line-height: 14px;
        font-size: 15px;
    }

    .comeback_container {
        padding: 5px;
    }
}

@media screen and (max-width: 305px) {
    .comeback_container .btn {
        width: 150px;
    }
}

.diagramm-block {
    position: relative;
}

.diagramm-subtitle {
    padding-left: 40px!important;
    position: relative;
}

.diagramm-subtitle::before {
    content: "";
    display: block;
    width: 30px;
    height: 15px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #6a9fef;
    position: absolute;
}

.diagramm-bottom-text {
    position: relative;
    text-align: center;
    height: 180px;
}

.diagramm-bottom-text p {
    /* display: inline-block; */
    transform: rotate(-55deg);
    text-align: left;
    padding: 0;
    position: absolute;
    top: 35px;
}

@media (max-width: 600px) {
    .diagramm-bottom-text {
        display: none;
    }
}

.diagramm-bottom-text p:nth-child(1) {
    left: 12%;
}
.diagramm-bottom-text p:nth-child(2) {
    left: 21%;
}
.diagramm-bottom-text p:nth-child(3) {
    left: 28%;
}
.diagramm-bottom-text p:nth-child(4) {
    left: 35%;
}
.diagramm-bottom-text p:nth-child(5) {
    left: 38%;
}
.diagramm-bottom-text p:nth-child(6) {
    left: 46%;
}
.diagramm-bottom-text p:nth-child(7) {
    left: 44%;
    top: 30%;
}
.diagramm-bottom-text p:nth-child(8) {
    left: 61%;
}
.diagramm-bottom-text p:nth-child(9) {
    left: 68%;
}
.diagramm-bottom-text p:nth-child(10) {
    left: 71%;
}
.text-center {
    text-align: center;
}

.text-center .blue {
    display: inline-block;
    padding: 0 10px;
    color: #6a9fef;
}
.text-center .orange {
    display: inline-block;
    padding: 0 10px;
    color: #daad7c;
}